.about{
    padding: 80px 0 100px;

    &__img{
        flex: 0 0 49.5%;
        background: url(../images/about-pets.jpg) no-repeat;
        background-position: left center;
        padding-bottom: 48%;
        background-size: contain;

        @include media-md { 
            flex: 1 0 auto;
            width: 100%;
            background-position: center;
            order: 2;
            padding-bottom: 95%;      
        } 
    }


    &__text{
        flex: 1 0 50.5%;

        @include media-md {    
            flex: 1 0 auto;
            margin-bottom: 80px;          
        } 
    }
    &__title{
        margin: 0 0 24px;
        @extend %font-title-dark;
    }
    &__description{
        // max-width: 430px;

        & p{
            font-size: 15px;
            line-height: 160%;
            color: #4C4C4C;
            margin: 0 0px 24px;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }

}

.wrap--about{
    width: 100%;
    max-width: 850px;
    margin: 0 auto;

    @include media-md {    
        flex-direction: column;
        align-items: center;
        max-width: 430px;
        
    }    
}
