%burger-line{
    display: block;
    width: 100%;
    height: 2px;
    background: #F1CDB3;
}

.burger{
    width: 30px;
    display: none;
    flex-direction: column;
    height: 22px;
    justify-content: space-between;
    margin-right: 14.5%;

    @include media-sm {    
        display: flex;   
    } 

    &__line{
        @extend %burger-line;

    }
    &::after{
        content: "";
        @extend %burger-line;

    }
    &::before{
        content: "";
        @extend %burger-line;
        
    }

}