%burger-line{
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
}

.burger{
    width: 30px;
    display: none;
    flex-direction: column;
    height: 22px;
    justify-content: space-between;
    margin-right: 43px;

    @include media-sm {    
        display: flex;   
    }

    &__line{
        @extend %burger-line;

    }
    &::after{
        content: "";
        @extend %burger-line;

    }
    &::before{
        content: "";
        @extend %burger-line;
        
    }

    &--main{
        .burger__line, &::after, &::before{
            background: $color-primary;
        }        
    }

}