.donation{
    background: #F6F6F6;
    padding: 81px 0 100px;

    @include media-md {    
        padding: 82px 0 100px;

        @include media-sm {    
            padding: 40px 0;
        }   
    }

    &__img{
        flex: 0 0 58.5%;
        background: url(../images/donation-dog.png) no-repeat;
        background-position: center left;
        padding-bottom: 28.55%;

        @include media-md {    
            order: 2;
            flex: 1 0 auto;
            background-position: center;
            padding-bottom: 51.7%;
            width: 100%;    
        }
        @include media-sm {    
            padding-bottom: 48.2%;
            background-size: contain;
        }
    }
    &__text{
        flex: 0 1 auto;

        @include media-md {    
            flex: 1 0 auto;
            max-width: 380px;  
            margin-bottom: 60px;   
        }
        @include media-sm {    
            text-align: center;
            margin-bottom: 44px;
        }
    }
    &__title{
        margin: 0 0 20px;
        @extend %font-title-dark;

        @include media-sm {    
            text-align: center;
            margin: 0 0 25px;
        }
    }
    &__bank{
        @include font($size:15px, $family:'Georgia');
        line-height: 1;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0 0 20px;

        @include media-sm {    
            text-align: center;
            letter-spacing: normal;
            margin: 0 0 24px;
        }
    }
    &__credit{
        display: inline-flex;
        align-items: center;
        @include font($size:20px, $family:'Georgia');
        line-height: 1.2;
        letter-spacing: 0.06em;
        color: #545454;
        padding: 10px 15px;
        background: #F1CDB3;
        border-radius: 9px;
        margin: 0 0 20px;
        align-content: center;
        transition: 0.3s;

        &:hover{
            color: #292929;
        }

        @include media-sm {    
            font-size: 15px;
        }

        &:before{
            content: "";
            background: url(../icons/credit-card.svg) no-repeat;
            display: block;
            width: 30px;
            height: 23px;
            margin-right: 15px;

            @include media-sm {    
                margin-right: 13px;
            }
        }
    }

    &__legal-info{
        @include font($size:12px, $family:'Arial', $style:italic);
        line-height: 18px;
        color: #B2B2B2;
        margin: 0;

        @include media-sm {    
            text-align: justify;
        }
    }

}


.wrap--donation{
    max-width: 915px;
    margin: 0 auto;    

    @include media-md {    
        max-width: 505px; 
        flex-direction: column;       
    }
    @include media-sm {    
        padding: 0 10px;
    }
}
