.help{
    padding: 81px 0 100px;

    &__title{
        @extend %font-title-dark;
        margin: 0 auto;
        text-align: center;
    }
    &__list{
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 4px;
    }
    &__item{
        padding: 54px 5% 0;
    }
    &__item-ico{
        text-align: center;

        & img{
            display: block;
            margin: 0 auto;
        }
    }

    &__item-category{
        @include font($size:20px, $family:'Georgia');
        line-height: 115%; 
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        margin-top: 30px;
    }
}
