.header{
    padding: 30px 0 30px;
    position: sticky;
    top: 0;
    background: #fff;

    &--main{
        background: none;
        position: static;
        padding: 60px 0 0;

        @include media-md {    
            padding: 30px 0 0;
        }
    }

    &__overflow{
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: #000; */
        z-index: 20;
        background: rgba(41, 41, 41, 0.6);
        transition: all 0.5s;

        &--open{
            visibility: visible;
            opacity: 1;
        }
    }
}
