$color-light: #FFFFFF;

$menu-color-light: #CDCDCD;
$menu-color-light-hover: #FAFAFA;

$color-title-light: #FFFFFF;
$color-title-dark: #545454;

$color-primary: #F1CDB3;
$color-primary-hover:#FDDCC4;
$color-button-text: #292929;

$color-paragraph-l: #4C4C4C;
$color-paragraph-s: #B2B2B2;

$device-width-lg: 1200.9px;
$device-width-md: 992.9px;
$device-width-sm: 767.9px;
