body{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.flex--js-space-between{
    justify-content: space-between;
}


.start-screen{
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.header{
    padding: 60px 0 0;
}
.logo__title{
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    margin: 0;
    letter-spacing: 0.06em;
}
.logo__subtitle{
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    margin-top: 10px;
    text-align: center;
}


.menu__items{
    display: flex;
    list-style: none;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}
.menu__item{
    margin-left: 36px;
}
.menu__link{
    color: #CDCDCD;
}
.not-only{
    padding-top: 47px;
}
.not-only__text{
    padding-top: 128px;
    flex: 1 0 28%;
    width: 33%;
    padding-bottom: 243px;
}
.not-only__title{
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.not-only__description{
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin: 0;
    letter-spacing: 0.02px;
}
.not-only__btn{
    margin-top: 42px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #F1CDB3;
    border-radius: 100px;
    padding: 15px 45px;
    border: none;
}
.not-only__img{
    flex: 1 1 50%;
    background: url(../images/start-screen-puppy.png) no-repeat;
    background-position: 34px 0px;
    padding-bottom: 60.7%;
}

.about{
    padding: 80px 0 100px;
}
.about__img{
    flex: 1 0 49%;
    background: url(../images/about-pets.jpg) no-repeat;
    background-position: 60% top;
}
.about__text{
    flex: 1 0 50%;
}
.about__title{
    margin: 14px 0 14px;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
.about__description{
    max-width: 430px;
}
.about__description p{
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    margin: 24px 0px;
}
